* {
  margin: 0;
  padding: 0;
}

body {
  background: lightgray;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 15% auto;
  background: white;
}

h1 {
  font-family: 'Fredoka One', cursive;
}
