.how-to-play-modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.how-to-play-modal header {
  font-family: 'Rammetto One', cursive;
  height: 70px;
  text-align: center;
  padding-top: 20px;
}

.how-slide {
  position: absolute;
  width: 560px;
  max-width: 560px;
  height: 570px;
  border-radius: 4px;
  background: white;
  display: none;
  justify-content: center;
  flex-direction: column;

  animation-name: slide-in-display;
  animation-duration: .5s;
}

.how-to-content {
  height: 430px;
  padding: 0px 20px;
  font-family: 'Capriola', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.how-to-content p {
  text-align: center;
}

.how-to-content figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-1-figure img {
  width: 90%;
}

.how-slide footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}

.how-slide footer button {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Baloo Bhaina', cursive;
  background: #99ddff;
  margin: 0px 10px;
}

.how-slide footer button:hover {
  background: lightgrey;
}

/* slide 2 specific */
.how-slide-2-ul li {
  list-style: none;
}

.how-slide-2-blast-icon {
  width: 10%;
}

.how-slide-2-bubble-icon {
  width: 11%;
}

.how-slide-2-hourglass-icon {
  width: 9%;
}

/* slide 3 specific  */

.how-slide-3-pig {
  width: 15%;
}

.how-slide-3-bacon {
  width: 15%;
}

.how-slide-3-heart {
  width: 10%;
}

.slide-out {
  animation-name: slide-out-display;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.slide-back-from-center {
  animation-name: slide-back-from-center-display;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.slide-back-from-left {
  animation-name: slide-back-from-left-display;
  animation-duration: .5s;
}

@keyframes slide-out-display {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-2000px);}
}

@keyframes slide-in-display {
  0% {transform: translateX(2000px);}
  100% {transform: translateX(0px);}
}

@keyframes slide-back-from-center-display {
  0% {transform: translateX(0px);}
  100% {transform: translateX(2000px);}
}

@keyframes slide-back-from-left-display {
  0% {transform: translateX(-2000px);}
  100% {transform: translateX(0px);}
}
